body {
  font: 14px 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #4682b4
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 0.6em 0;
}

h1 span {
  color: #cac5b9;
}


#page-container {
}

#page-header {
  background: url('/assets/camera.png') 135px -10px no-repeat;
  width: 960px;
  margin: 0 auto;
}

.gallery {
  position: relative;
  width: 970px;
}

.cell {
  border: 1px solid white;
  font: 10px/12px sans-serif;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  background-position: center;
  cursor: pointer;
}